*.pyc
*.swp
debian/debhelper.log
debian/files
debian/gpgmailer.debhelper.log
debian/gpgmailer.postinst.debhelper
debian/gpgmailer.postrm.debhelper
debian/gpgmailer.prerm.debhelper
debian/gpgmailer.substvars
debian/gpgmailer/
debian/tmp
src/etc/opt/gpgmailer/gnupg
src/etc/opt/gpgmailer/gpgmailer.conf
src/var/opt/log/gpgmailer.log
test/gpgmailbuilder-test-keyring/pubring.gpg~
