*.pyc
*.swp
.coverage
debian/.debhelper
debian/debhelper.log
debian/debhelper-build-stamp
debian/files
debian/gpgmailer.debhelper.log
debian/gpgmailer.postinst.debhelper
debian/gpgmailer.postrm.debhelper
debian/gpgmailer.prerm.debhelper
debian/gpgmailer.substvars
debian/gpgmailer/
debian/tmp
htmlcov
src/etc/opt/gpgmailer/gnupg
src/etc/opt/gpgmailer/gpgmailer.conf
src/var/opt/log/gpgmailer.log
test/gpgmailbuilder-test-keyring/pubring.gpg~
test/gpgmailbuilder-test-keyring/random_seed
