Source: gpgmailer
Section: parkbench
Priority: required
Maintainer: eviljoel, Emily Frost
Build-Depends: debhelper
Standards-Version: 3.9.6.1

Package: gpgmailer
Architecture: all
Depends: adduser (>= 3.11),parkbench-common (>=0.8),postfix | mail-transfer-agent,python-gnupg,python-daemon
Description: Daemon to send multipart encrypted e-mails.
