# GPGMailer config

[General]

# log_file is pretty self-explanatory
log_file=/var/log/gpgmailer.log

# log_level tells GpgMailer how much stuff to report
log_level=info

# gpg_dir should be the gnupg keyring directory containing all of the
# keys you intend to use.  This is not included yet, you should set
# this up yourself first.
gpg_dir=/etc/gpgmailer/gnupg/

# watch_dir sets the directory that gpgmailer checks for new mail objects to
# send.
watch_dir=/tmp/gpgmailer/outbox/

# Standard email server details
smtp_user=
smtp_pass=
smtp_server=
smtp_port=

# Less standard email server details

# max_idle is the number of seconds until gpgmailer assumes an SMTP session
# has ended.
smtp_max_idle=300

# sending_timeout is how many seconds the mailer should wait for each message
# to send.
smtp_sending_timeout=30

# Email and gpg settings
# expiration_warning_threshold is the number of days before a key's expiration
#   that gpgmailer should start attaching warnings.
expiration_warning_threshold=14

# key_database_reload_interval is the number of seconds to wait before reloading
#   the gnupg database.
key_database_reload_interval=5

# If send_unsigned_message is set to true, gpgmailer will send unsigned messages
#   if the signing key is invalid or unavailable. If it is set to any other
#   value, messages will not be sent unless signed.
send_unsigned_messages=true

# default_subject is the subject that will be assigned to all mail that does not
#   otherwise have one defined.
default_subject=

# Sender should be one email address paired with a full PGP key fingerprint.
# For example:
# sender=test@example.com:5A4228C8D952459F240626EA4289EC280D58338B
sender=

# signing_key_password is the password for the key you just defined in sender.
#   A password is required.
signing_key_password=

# recipients should be a comma-separated list of address and fingerprint pairs,
# just like sender.  It can be multiline, but it must be indented, like so:

# recipients=test@example.com:5A4228C8D952459F240626EA4289EC280D58338B,
#   test@example.com:5A4228C8D952459F240626EA4289EC280D58338B
recipients=
