# GPGMailer config

[General]

# Specifies the location of the program's log file.
log_file=/var/log/gpgmailer.log

# Specifies the verbosity of the program's log. Valid values are 'critical', 'error', 'info',
#   'debug', and 'trace'. This value is case insensitive.
log_level=info

# gpg_dir should be the gnupg keyring directory containing all of the
# keys you intend to use.  This is not included yet, you should set
# this up yourself first.
gpg_dir=/etc/gpgmailer/gnupg

# The root directory that gpgmailer checks for new JSON mail objects to send.
watch_dir=/tmp/gpgmailer

# The number of seconds between each main program loop iteration. It is 
#   essentially how often the watch directory is checked for new e-mails. This value does not
#   have to be a whole number. Setting this value too low can starve other processes of CPU
#   time and increase power consumption but will reduce notification latency.
main_loop_delay=0.1

# The maximum number of seconds the main loop, including key checking, is expected to run.
#   Using a large number of keys will make key checks take longer, and a marginally 
#   higher than necessary value does not have any negative effects.
main_loop_duration=3

# The number of seconds to wait in between checking key expiration.
key_check_interval=60

# Standard email server details
smtp_username=
smtp_password=
smtp_domain=
smtp_port=


# Less standard email server details

# The number of seconds until the program assumes an SMTP session has ended.
smtp_max_idle=600

# How many seconds the mailer should wait until the program determines that the sending of an
#   e-mail has failed.
smtp_sending_timeout=20


# Email and GPG settings

# If a key will expire within this number of days, a warning e-mail is sent to all recipients. 
#   Also, a warning message is included with all subquent messages until all the receipient keys
#   are not expiring within this threshold and gpgmailer has been restarted. Further, each
#   time gpgmailer is started, if a key is expiring within this threadhold, the warning mail is
#   resent because gpgmailer does not yet have a way of remembering when a warning e-mail has
#   already been sent.
expiration_warning_threshold=14

# If set to true, gpgmailer will send unsigned messages when the signing key has expired. The
#   program will still fail to start if the signing key does not exist in the keyring or is
#   untrusted. If this option is set to any other value, the program will crash and refuse to
#   start when the signing key has expired. This value is not case sensitive.
allow_expired_signing_key=false

# The subject that will be applied to all mail that does not otherwise have a subject. No subject
#   is valid.
default_subject=


# Specifies each messsage's from address and signing key fingerprint. Sender should be one email
#   address paired with a full PGP key fingerprint.
# For example:
# sender=test@example.com:5A4228C8D952459F240626EA4289EC280D58338B
sender=

# The passphrase for the sender's signing key. A passphrase is required.
signing_key_passphrase=

# Specifies mail recipients formatted as a comma-separated list of address and fingerprint pairs,
#   similiar to the sender option. It can be multiline, but it must be indented, like so:
# recipients=test@example.com:5A4228C8D952459F240626EA4289EC280D58338B,
#   test@example.com:5A4228C8D952459F240626EA4289EC280D58338B
recipients=
